.destino{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 70px 100px;
    


}

body{
    background-color:beige;

}

.titulo{
    margin-top:120px;
    font-size:50px;
    font-family: 'Cinzel Decorative', cursive;
    
}